$footerHeight: 75px;
$art: url("../images/art.jpg");

html, body {
    height: 100%;
    min-height: 100%
}

.pageWrapper {
    min-height: calc(100% - #{$footerHeight});
}

.pageTopper {
    padding: 2% 2% 1% 2%;
    text-align: center;
    box-shadow: 0 15px 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,0.5);
    position: relative;
}

footer {
    height: $footerHeight;
    width: 100%;
    background-image: $art;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color: white;
    padding-top: 20px;
    a {
        color: darkgrey;
    }
    a:hover {
        color: grey;
    }
}

.cardWrapper {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;

    background-color: rgba(0,0,0,0.05);
    background-image: $art;
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .card-deck {
        margin: auto;

        @media screen and (min-width: 1000px) {
            width: 60%;

            flex-direction: row;
            justify-content: space-evenly;
            align-items: stretch;
            align-content: center;

            .card {
                width: 30%;
            }
        }
        @media screen and (max-width: 1000px) {
            width: 80%;

            flex-direction: column;
            align-items: center;

            .card {
                width: 90%;
                margin-bottom: 25px;
            }
        }

        .card {
            padding-bottom: 5px;

            &:hover {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
                -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
                -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
            }
            .card-img-top {
                min-height: 40%;
                object-fit: cover;
            }

            .card-body {
                flex-grow: 0;
                padding-bottom: 10px;

                h5 {
                    margin: 0;
                    height: 50px;
                }
            }

            .list-group {
                .list-group-item:last-of-type {
                    border-bottom: 0;
                }
            }
        }
    }
}

.ervaringContainer {
    box-shadow: 0 -15px 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 -15px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 -15px 20px rgba(0,0,0,0.5);
    position: relative;
    text-align: center;


    h2:first-of-type {
        padding-top: 25px;
    }

    .industryContainer {
        margin: auto;
        width: 60%;
        min-height: 450px;
        display: flex;
        align-items: center;
        align-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;

        .industryCard {
            margin: auto;
            width: 30%;
            height: 200px;
            border: 2px blue solid;
            word-wrap: break-word;

            div {
            }
        }
    }
}
