.cardContainer {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-evenly;
    align-items: flex-stretch;
    align-content: center;

    .card {
        width: 30%;
        &:hover {
            background-color: grey
        }
    }
}
