$footerHeight: 75px;

html, body {
    height: 100%;
    min-height: 100%
}

.pageWrapper {
    min-height: calc(100% - #{$footerHeight});
}

.pageTopper {
    padding: 2% 2% 1% 2%;
    text-align: center;
    box-shadow: 0 15px 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,0.5);
    position: relative;
}

footer {
    height: $footerHeight;
    width: 100%;
    background-image: url("../images/art.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color: white;
    padding-top: 20px;
    a {
        color: darkgrey;
    }
    a:hover {
        color: grey;
    }
}
